#!/usr/bin/make -f

# To distinguish variables that are truly local to this file (rather
# than for use by cdbs), we adopt the convention of starting local
# variables' names with l_.

l_PWD := $(shell pwd)
l_STAMPS := debian/l_stamps
l_RUN_CHECK := 0

# Variables used by cdbs

VERSION := $(shell dpkg-parsechangelog | \
             awk '/Version:/ {print $$2}' | cut -d- -f 1)

DEB_TAR_SRCDIR = icu/source
DEB_CONFIGURE_USER_FLAGS = --disable-samples --enable-static
DEB_COMPRESS_EXCLUDE = html examples
DEB_INSTALL_EXAMPLES_libicu34-dev = \
	build-tree/$(DEB_TAR_SRCDIR)/samples/*
# Include cdbs rules files.
include /usr/share/cdbs/1/rules/tarball.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

# Suppress automatic running of test suite; we do it manually below.
DEB_BUILD_OPTIONS += nocheck

DEB_MAKE_INSTALL_TARGET += install-doc

# Turn off optimization on m68k in hopes of avoiding some internal
# compiler errors.
ifeq ($(shell dpkg --print-architecture),m68k)
CFLAGS := $(filter-out -O%,$(CFLAGS)) -O0
CXXFLAGS := $(filter-out -O%,$(CXXFLAGS)) -O0
endif

# TEMPORARY (hopefully) -- icu 3.4 fails its test suite with gcc 4.0
# without -fno-strict-aliasing.  This is verified to still be the case
# in 3.4.1.
CFLAGS += -fno-strict-aliasing
CXXFLAGS += -fno-strict-aliasing

cleanbuilddir::
	$(RM) -r $(l_STAMPS)

# As 0.4.21, cdbs creates but doesn't remove debian/compat.  It
# creates it conditionally, so this doesn't have a trivial fix.
clean::
	$(RM) debian/compat *.cdbs-config_list

# Running the test suite here, even ignoring failure, may still create
# build problems if the test suite hangs, which it did on at least one
# occasion.  I (qjb) have manually run the test suite on i386, ia64,
# and powerpc to ensure that we have a passing test suite on at least
# one little-endian, one big-endian, and one 64-bit system.
ifeq ($(l_RUN_CHECK), 1)
# Run the test suite so we can check its output in the buildd logs,
# but don't let a test suite failure cause overall failure.
common-post-build-impl::
	-$(DEB_MAKE_INVOKE) check
endif

install/libicu34-dev::
	mkdir -p debian/$(cdbs_curpkg)/usr/share/man/man1
	mkdir -p debian/$(cdbs_curpkg)/usr/share/man/man8
	cp debian/misc/genbrk.1 debian/$(cdbs_curpkg)/usr/share/man/man1
	cp debian/misc/icuswap.8 debian/$(cdbs_curpkg)/usr/share/man/man8

binary-post-install/libicu34-dev::
	find debian/$(cdbs_curpkg) -type f -name .cvsignore | xargs rm

# Install lintian override files
binary-post-install/%::
	if [ -f debian/$*.lintian ]; then \
	    mkdir -p debian/$*/usr/share/lintian/overrides && \
	    cp -p debian/$*.lintian debian/$*/usr/share/lintian/overrides/$*; \
	fi
